<div class="row">
  <div class="col">
    <div data-header data-title="Sample"></div>
  </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div data-key="pipeline_info_table" data-component="TableMetric"></div>
    </div>
</div>
