<div class="navbar-wrapper"></div>
<div class="namescription-wrapper"></div>
<div class="alert-wrapper"></div>

<div class="container">

    <!-- Hero metrics -->
    <div class="row">
        <div class="col">
            <div data-key="cells_detected" data-component="Metric"></div>
        </div>
    </div>

    [[ include subtemplates/pipeline_info.html ]]

    [[ include subtemplates/clustering_by.html ]]

</div>
