<div class="navbar-wrapper"></div>
<div class="namescription-wrapper"></div>
<div class="alert-wrapper"></div>

<div class="container">

    <!-- Hero metrics -->
    <div class="row">
        <div class="col">
            <div data-key="annotated_cells" data-component="Metric"></div>
        </div>
        <div class="col">
            <div data-key="median_fragments_per_cell" data-component="Metric"></div>
        </div>
        <div class="col">
            <div data-key="frac_cut_fragments_in_peaks" data-component="Metric"></div>
        </div>
    </div>

    [[ include subtemplates/pipeline_info.html ]]

    [[ include subtemplates/clustering.html ]]

</div>
