<div class="row">
  <div class="col">
    <div data-key="cell_helptext" data-component="DynamicHelptext"></div>
  </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div data-key="cell_metrics_table" data-component="TableMetric"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div data-key="barcode_knee_plot" data-component="Plot"></div>
    </div>
    <div class="col-12 col-lg-6">
        <div data-key="fragments_per_cell_plot" data-component="Plot"></div>
    </div>
</div>
