<div class="row">
  <div class="col">
    <div data-key="clustering_helptext" data-component="DynamicHelptext"></div>
  </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div data-key="graph_cluster_plot" data-component="Plot"></div>
    </div>
    <div class="col-12 col-lg-6">
        <div data-key="depth_cluster_plot" data-component="Plot"></div>
    </div>
</div>
