<div class="row">
  <div class="col">
    <div data-key="complexity_helptext" data-component="DynamicHelptext"></div>
  </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div data-key="bulk_complexity_table" data-component="TableMetric"></div>
    </div>
    <div class="col-12 col-lg-6">
        <div data-key="assay_efficiency_plot" data-component="Plot"></div>
    </div>
</div>
