<div class="row">
    <div class="col">
        <div data-key="annotated_cells_sp1" data-component="Metric"></div>
        <div data-key="annotated_cells_sp2" data-component="Metric"></div>
    </div>
    <div class="col">
        <div data-key="median_fragments_per_cell_sp1" data-component="Metric"></div>
        <div data-key="median_fragments_per_cell_sp2" data-component="Metric"></div>
    </div>
    <div class="col">
        <div data-key="frac_fragments_overlapping_peaks_sp1" data-component="Metric"></div>
        <div data-key="frac_fragments_overlapping_peaks_sp2" data-component="Metric"></div>
    </div>
</div>