<div class="row">
    <div class="col">
        <div data-key="annotated_cells" data-component="Metric"></div>
    </div>
    <div class="col">
        <div data-key="median_fragments_per_cell" data-component="Metric"></div>
    </div>
    <div class="col">
        <div data-key="frac_fragments_overlapping_peaks" data-component="Metric"></div>
    </div>
</div>