<div class="row">
  <div class="col">
    <div data-key="mapping_helptext" data-component="DynamicHelptext"></div>
  </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div data-key="mapping_table" data-component="TableMetric"></div>
    </div>
    <div class="col-12 col-lg-6">
        <div data-key="non_log_insert_size_plot" data-component="Plot"></div>
    </div>
</div>
