<div class="row">
  <div class="col">
    <div data-key="targeting_helptext" data-component="DynamicHelptext"></div>
  </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div data-key="targeting_table" data-component="TableMetric"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div data-key="tss_enrichment_plot" data-component="Plot"></div>
    </div>
    <div class="col-12 col-lg-6">
        <div data-key="peak_targeting_plot" data-component="Plot"></div>
    </div>
</div>
