<div class="row">
  <div class="col">
    <div data-key="batch_score_helptext" data-component="DynamicHelptext"></div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div data-key="batch_score_table" data-component="TableMetric"></div>
  </div>
</div>
