<div class="navbar-wrapper"></div>
<div class="namescription-wrapper"></div>
<div class="alert-wrapper"></div>

<div class="container">

    <!-- Hero metrics -->
    <div class="row">
        <div class="col">
            <div data-key="annotated_cells_spec1" data-component="Metric"></div>
            <div data-key="annotated_cells_spec2" data-component="Metric"></div>
        </div>
        <div class="col">
            <div data-key="median_fragments_per_cell_spec1" data-component="Metric"></div>
            <div data-key="median_fragments_per_cell_spec2" data-component="Metric"></div>
        </div>
        <div class="col">
            <div data-key="frac_fragments_overlapping_targets_spec1" data-component="Metric"></div>
            <div data-key="frac_fragments_overlapping_targets_spec2" data-component="Metric"></div>
            <div data-key="frac_cut_fragments_in_peaks" data-component="Metric"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            [[ include subtemplates/pipeline_info.html ]]
        </div>
        <div class="col">
            [[ include subtemplates/sequencing_info.html ]]
        </div>
    </div>

    [[ include subtemplates/aggregation.html ]]

    [[ include subtemplates/batch_scores.html ]]

    [[ include subtemplates/clustering_by.html ]]

</div>
